header{
	display: flex;
	justify-content: flex-start;
	justify-content: space-around;
}
.minilogo{
	height: 7vh;
	align-self: center;
}
.btn{
	height: 3vh;
	align-self: center;
}
.btnicones{
	height: 5vh;
	align-self: center;
}